* {
    list-style-type: none;
}

.arrow__returnTop {
    bottom: 80px;
}

.header-temas-complete {
    padding-block: 150px 100px;
    background: var(--gradient-dark-blue);
}

.header-temas__h1 {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: clamp(1.875rem, 0.2841rem + 7.9545vw, 6.25rem);
    color: var(--clr-brands-950);
    mix-blend-mode: lighten;
    text-shadow: 1px 0 var(--clr-principal), -1px 0 var(--clr-principal), 0 1px var(--clr-principal), 0 -1px var(--clr-principal);
    letter-spacing: 10px;
}

.buscador {
    padding-block: 50px;
}

.buscador__input {
    background: var(--buscador-bg);
    border: 1px solid var(--buscador-border);
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fnt-size-s);
    width: 250px;
    padding: 5px 10px 5px 30px;
    outline: none;
    transition: width 0.4s ease-in-out;
    color: var(--clr-brands-200);
    font-weight: 300;
    box-shadow: inset 1px 1px 5px #00000050;

    background-image: url(./../imgs/magnifying-glass-icon.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 8px center;
}

.buscador__input::placeholder {
    color: var(--clr-brands-200);
    font-weight: 300;
}

.buscador__input:not(:placeholder-shown),
.buscador__input:focus {
    width: 100%;
    border-color: #565a63;
}

.temas__li {
    border: 1px solid var(--clr-brands-900);
    border-radius: 5px;
    margin-block: 10px;
    padding-inline: 10px;
}

.temas__main-content {
    display: flex;
    align-items: start;
    gap: 25px;
}

.temas {
    width: 100%;
}

.tema__encabezado {
    outline: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    cursor: pointer;
    padding-block: 20px;
    position: relative;
}

.tema__encabezado::after {
    content: '';
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 1px;
    background: radial-gradient(var(--clr-brands-500), var(--clr-brands-950));
    bottom: 0;
    display: none;
}

.tema__encabezado p {
    font-weight: 300;
}

.tema__icon {
    font-size: 20px;
    transition: 0.3s ease-in all;
}

.temas__tema[open] {
    & .tema__encabezado::after {
        display: block;
    }

    & .tema__icon {
        transform: rotate(180deg);
    }
}

.temas__span {
    padding-inline: 25px;
    font-weight: 500;
}

.temas__informacion {
    padding-block: 25px;
    font-weight: 300;

    b {
        font-weight: 600;
        color: var(--clr-yellow);
    }
}

.temas__desc-p {
    margin-block: 5px;
}

.temas__math {
    margin-block-start: 10px;
    margin-block-end: 15px;
}

.sin-resultados {
    font-weight: 500;
    display: none;
    height: 100px;
}

.sin-resultados__a {
    color: var(--clr-url);

    &:hover {
        color: var(--clr-url-hover);
    }
}

.sin-resultados__icon {
    margin-left: 7px;
    transition: .3s ease-in all;
}

.sin-resultados__a:hover .sin-resultados__icon {
    margin-left: 3px;
}

.Add {
    order: 1;
    width: 350px;
    position: sticky;
    top: 80px;
}

.Add_figures {
    display: flex;
}

.Add__h4 {
    font-size: var(--fnt-size-l);
    margin-bottom: 5px;
    color: var(--clr-brands-500);
}

.Add__img {
    width: 100%;
    border-radius: 4px;
}

.Add__caption {
    margin-block-end: 15px;
}

.Add__link {
    color: var(--clr-brands-500);
    transition: .3s ease-in all;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;

    &:hover {
        color: var(--clr-url-hover);
        gap: 10px;
    }
}

@media screen and (max-width: 880px) {
    .temas__main-content {
        flex-direction: column;
    }

    .Add {
        width: 100%;
        position: static;
    }

    .Add__figures {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Add__h4 {
        text-align: center;
    }

    .Add__img {
        width: 250px;
        max-width: 100%;
    }
}